In [68]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

from etl.utils import expand_street_name

db_string = "postgres://hgadmin:pwd123456@127.0.0.1:5432/hdbguru"
db = create_engine(db_string)

In [ ]:
df = pd.read_csv('data/_raw/cs5228-kaggle-dataset/test.csv')
df = pd.concat([df, pd.read_csv('data/_raw/cs5228-kaggle-dataset/train.csv')], ignore_index=True)

df.columns = df.columns.str.upper()

# Set month to month end
df["MONTH"] = pd.to_datetime(df["MONTH"]) + pd.offsets.MonthEnd(0)

# UPPERCASE ALL CATS
for x in ["TOWN", "FLAT_TYPE", "STREET_NAME", "FLAT_MODEL", "SUBZONE", "PLANNING_AREA", "REGION"]:
    df[x] = df[x].str.upper()

df = df[['TOWN', 'BLOCK', "STREET_NAME", "LATITUDE", "LONGITUDE", "SUBZONE", "PLANNING_AREA", "REGION"]].drop_duplicates()

df = df.rename(columns={'STREET_NAME': 'FULL_STREET_NAME'})

df_price = pd.read_csv('data/_processed/TBL_HDB_RESALE_PRICE.csv.gzip', sep='|')
df_price = df_price[["TOWN", 'BLOCK', 'STREET_NAME']].drop_duplicates()
df_price['FULL_STREET_NAME'] = expand_street_name(df_price['STREET_NAME'])

df = pd.merge(df, df_price, how='left', on=['TOWN', 'BLOCK', "FULL_STREET_NAME"])

df['STREET_NAME'] = np.where(df['STREET_NAME'].isnull(), expand_street_name(df['FULL_STREET_NAME'], reverse=True), df['STREET_NAME'])

assert df['STREET_NAME'].isnull().sum() == 0, 'Still got missing street name, pls check'

In [ ]:
df.shape

In [ ]:
df_addr = pd.read_csv("data/_processed/TBL_HDB_ADDR_INFO.csv.gzip", sep="|", dtype={"POSTAL_CODE": "str"})

In [ ]:
def anti_join(df, dff):
    df = df.merge(dff, how='outer', indicator = True)
    return df[df['_merge']=='left_only'].drop('_merge', axis = 1)

df_extra = anti_join(df, df_addr[['TOWN', 'BLOCK', 'STREET_NAME']])[['TOWN', 'BLOCK', 'STREET_NAME', 'LATITUDE', 'LONGITUDE']]

In [ ]:
df_extra.shape

In [ ]:
from etl.one_map_api import reverse_geocode

res = df_extra.apply(lambda x: reverse_geocode(x["LATITUDE"], x["LONGITUDE"], 10, 'All'), axis=1)

ldf = []

for i in range(len(res)):    
    ldf.append(pd.DataFrame(res.iloc[i]).head(1))

_tmp = pd.concat(ldf, ignore_index=True)
_tmp = _tmp.rename(columns={'BUILDINGNAME': 'BUILDING', 'ROAD': "ADDRESS", "XCOORD": "X", "YCOORD":"Y", "POSTALCODE": "POSTAL_CODE"})
_tmp['BUILDING'] = _tmp['BUILDING'].str.upper().replace('NULL', 'NIL')
_tmp['ADDRESS'] = _tmp['BLOCK'] + ' ' + _tmp['ADDRESS'] + ' SINGAPORE ' + _tmp['POSTAL_CODE']
_tmp = _tmp[['POSTAL_CODE', 'ADDRESS', 'BUILDING', 'X', 'Y']]

pd.concat([df_addr, pd.concat([df_extra.reset_index(drop=True), _tmp], axis=1)], ignore_index=True)

In [ ]:
pd.concat([df_extra.reset_index(drop=True), _tmp], axis=1)

sql = """
SELECT * FROM api.TBL_HDB_PROP_INFO
"""

df_addr = pd.read_sql(sql, db)

df_addr.columns = df_addr.columns.str.upper()

In [ ]:
df

In [ ]:
df_up = df_check[['HDB_ID', 'LATITUDE', 'LONGITUDE']]

In [ ]:
df_up.columns = df_up.columns.str.lower()
df_up.to_sql("tbl_hdb_extra_info", db, schema="api", index=False)

In [ ]:
df_new['LATITUDE_y'].isnull().sum()

In [ ]:
df['LATITUDE_x']

In [ ]:
df[df['STREET_NAME']=='BEDOK STH AVE 1']

In [ ]:
df['STREET_NAME'].str.replace('BT ', 'BUKIT ')

In [ ]:
df[df['STREET_NAME'].str.contains('ST\. ')]['STREET_NAME'].unique()

##### Resale Flat Price API

In [ ]:
# Resale Prices
url = """https://data.gov.sg/api/action/datastore_search?resource_id=42ff9cfe-abe5-4b54-beda-c88f9bb438ee&limit=5000&filters={"month":"2021-01"}"""

# Resale Price Index
# url = "https://data.gov.sg/api/action/datastore_search?resource_id=52e93430-01b7-4de0-80df-bc83d0afed40&limit=1000"

In [ ]:
import requests

payload={}
headers = {
  'Cookie': '__cfduid=d6631c09624d16591b25d24f75c538ebc1612666474'
}

response = requests.request("GET", url, headers=headers, data=payload)



df = pd.DataFrame(response.json()['result']['records'])

In [ ]:
df

In [ ]:
df['index'] = df['index'].astype(float)

In [ ]:
df.tail()

In [ ]:
df['index'].plot()

In [ ]:
print("Search a DataStore resource.\n\n    The datastore_search action allows you to search data in a resource.\n    DataStore resources that belong to private CKAN resource can only be\n    read by you if you have access to the CKAN resource and send the appropriate\n    authorization.\n\n    :param resource_id: id or alias of the resource to be searched against\n    :type resource_id: string\n    :param filters: matching conditions to select, e.g {\"key1\": \"a\", \"key2\": \"b\"} (optional)\n    :type filters: dictionary\n    :param q: full text query. If it's a string, it'll search on all fields on\n              each row. If it's a dictionary as {\"key1\": \"a\", \"key2\": \"b\"},\n              it'll search on each specific field (optional)\n    :type q: string or dictionary\n    :param distinct: return only distinct rows (optional, default: false)\n    :type distinct: bool\n    :param plain: treat as plain text query (optional, default: true)\n    :type plain: bool\n    :param language: language of the full text query (optional, default: english)\n    :type language: string\n    :param limit: maximum number of rows to return (optional, default: 100)\n    :type limit: int\n    :param offset: offset this number of rows (optional)\n    :type offset: int\n    :param fields: fields to return (optional, default: all fields in original order)\n    :type fields: list or comma separated string\n    :param sort: comma separated field names with ordering\n                 e.g.: \"fieldname1, fieldname2 desc\"\n    :type sort: string\n\n    Setting the ``plain`` flag to false enables the entire PostgreSQL `full text search query language`_.\n\n    A listing of all available resources can be found at the alias ``_table_metadata``.\n\n    .. _full text search query language: http://www.postgresql.org/docs/9.1/static/datatype-textsearch.html#DATATYPE-TSQUERY\n\n    If you need to download the full resource, read :ref:`dump`.\n\n    **Results:**\n\n    The result of this action is a dictionary with the following keys:\n\n    :rtype: A dictionary with the following keys\n    :param fields: fields/columns and their extra metadata\n    :type fields: list of dictionaries\n    :param offset: query offset value\n    :type offset: int\n    :param limit: query limit value\n    :type limit: int\n    :param filters: query filters\n    :type filters: list of dictionaries\n    :param total: number of total matching records\n    :type total: int\n    :param records: list of matching results\n    :type records: list of dictionaries\n\n    ")

##### Subzone and Boundary

In [ ]:
from fastkml import kml

In [ ]:
with open("data/master-plan-2019-subzone-boundary-no-sea/master-plan-2019-subzone-boundary-no-sea-kml.kml", 'rt') as myfile:
    doc = myfile.read()

In [ ]:
k = kml.KML()

In [ ]:
k.from_string(doc)

##### HDB Property Information

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/_raw/hdb-property-information/hdb-property-information.csv')

def _convert_town_code_to_name(x):
    
    d = pd.read_csv("data/_static/HDB_TOWN_CODE_MAP.csv").set_index("TOWN_CODE")['TOWN'].to_dict()
    
    name = x.replace(d)
    
    assert name.isnull().sum() == 0, 'There are missing town code, pls check'
    
    return name

def _strip_spaces(df):
    return df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

def format_data(df):

    df.columns = df.columns.str.upper()
    
    # Standardize certain column names
    df = df.rename(columns={'BLK_NO': 'BLOCK', 'STREET': "STREET_NAME", "BLDG_CONTRACT_TOWN": "TOWN"})
    
    df['TOWN'] = _convert_town_code_to_name(df['TOWN'])
    
    df = _strip_spaces(df)
    
    flag_cols = [
        'RESIDENTIAL',
        'COMMERCIAL',
        'MARKET_HAWKER',
        'MISCELLANEOUS',
        'MULTISTOREY_CARPARK',
        'PRECINCT_PAVILION',
    ]
    
    for x in flag_cols:
        df[x] = np.where(df[x] == "Y", 1, 0)

    return df

df = format_data(df)

df[df['STREET_NAME']=='ANG MO KIO AVE 1']['BLOCK'].unique()

import pathlib

def dump(df: pd.DataFrame, path: pathlib.Path, sep: str = "|"):

    assert not any(
        df.select_dtypes(include=["object"]).apply(
            lambda x: any(x.str.contains(sep, regex=False))
        )
    ), f"SEP[{sep}] exists in the data, choose a different one"

    df.to_csv(path, sep=sep, index=False)

dump(df, 'data/_processed/TBL_HDB_RESALE_PX.csv.gzip')

In [ ]:
df = pd.read_csv("data/_processed/TBL_HDB_PROP_INFO.csv.gzip", sep="|")

In [ ]:
df = pd.read_csv("data/_processed/TBL_HDB_RESALE_PRICE.csv.gzip", sep="|")

In [ ]:
df.shape

In [ ]:
df = df.merge(df_addr, how='left')

In [ ]:
df[df['POSTAL'].isnull()].to_clipboard()

In [ ]:
import re

In [ ]:
k = 'ST\.'

In [ ]:
r'\b%s\b' % k

In [ ]:
re.sub(r'\b%s\b' % k, 'SAINT', 'ST. adf')

##### OneMap

In [ ]:
import pandas as pd
import numpy as np
import json

import pathlib

df = pd.read_csv("data/_processed/hdb_prop_info.csv.gzip", sep="|")
all_hdb_addresses = (df["BLOCK"] + " " + df["STREET_NAME"]).unique().tolist()

df["KEYWORD"] = (df["BLOCK"] + " " + df["STREET_NAME"])

import pathlib

ldf = []

for f in pathlib.Path("data/_raw/onemap-hdb-addresses/").glob('*json'):
    ldf.append(pd.read_json(f))
df_addr = pd.concat(ldf, ignore_index=True)

df_addr = df_addr.rename(columns={"HDB_ADDRESS": "KEYWORD"}) # TODO - REMOVE

## REMOVE EMPTY POSTAL CODE
df_addr = df_addr[df_addr['POSTAL']!="NIL"]

## KEEP BLOCK NUMBER MATCHING ONE

df_addr = pd.merge(df_addr, df[["KEYWORD", "BLOCK", "STREET_NAME","TOWN"]], how='left')
assert df_addr['BLOCK'].isnull().sum() == 0

df_addr = df_addr[df_addr["BLK_NO"] == df_addr["BLOCK"]].reset_index(drop=True)

def _handle_exceptions(df):
    
    df_exp = pd.read_csv("data/_static/HDB_ADDR_EXCEPTIONS.csv")
    
    mask = df["KEYWORD"].isin(df_exp["KEYWORD"])
    df_dup, df = df[mask].copy(), df[~mask].copy()
    
    df_dup = df_dup.merge(df_exp)
    
    assert df_dup.shape[0] == df_exp.shape[0]
    
    return pd.concat([df, df_dup], ignore_index=True)

## REMOVE EXCEPTIONS

df_addr = _handle_exceptions(df_addr)

df_addr = pd.merge(df_addr, df_addr.groupby(['KEYWORD'])['POSTAL'].nunique().to_frame(name='POST_CNT').reset_index())

assert df_addr[df_addr["POST_CNT"]>1].shape[0] == 0, "address with more than 1 postal code"

def _rank_buildings(df):
    
    df["_SCORE"] = 0
    
    df["_SCORE"] = df["_SCORE"] + np.where(df["BUILDING"].str.contains(r"ACADEMY|STUDENT|PRESCHOOL|SCHOOL|SKOOL|LEARNING|LEARNERS|DEVELOPMENT|CHILDREN|CHILD CARE|KINDERGARTEN"), 1, 0)
    df["_SCORE"] = df["_SCORE"] + np.where(df["BUILDING"].str.contains(r"7 ELEVEN|GIANT|FAIRPRICE|NTUC"), 1, 0)
    df["_SCORE"] = df["_SCORE"] + np.where(df["BUILDING"].str.contains(r"COMMUNITY|SPORTS|SWIMMING|LIBRARY|SERVICE"), 1, 0)
    df["_SCORE"] = df["_SCORE"] + np.where(df["BUILDING"].str.contains(r"POST OFFICE|SPORTS|SWIMMING|POLICE"), 1, 0)
    df["_SCORE"] = df["_SCORE"] + np.where(df["BUILDING"].str.contains(r"DBS|UOB|OCBC|POSB|STANDARD CHARTERED|MAYBANK"), 1, 0)
    
    return df.sort_values(["KEYWORD", "_SCORE"]).groupby(["KEYWORD"]).first().reset_index()

df_addr = _rank_buildings(df_addr)

df_addr = df_addr[["BLOCK", "STREET_NAME", "POSTAL", "ADDRESS", "BUILDING", "LATITUDE", "LONGITUDE", "X", "Y"]]

dump(df, 'data/_processed/TBL_HDB_ADDR_INFO.csv.gzip')

In [ ]:
df_addr.dtypes

In [ ]:
df = pd.read_csv("data/_processed/TBL_HDB_ADDR_INFO.csv.gzip", sep="|", dtype={'POSTAL': 'object'})

In [ ]:
df = pd.read_csv("data/_processed/TBL_HDB_PROP_INFO.csv.gzip", sep="|")

In [ ]:
df.dtypes

In [ ]:
df.dtypes

##### SCHOOL INFO

In [ ]:
import pandas as pd

In [ ]:
from fuzzywuzzy import fuzz

In [ ]:
a = df.columns

In [ ]:
df[df['SCHOOL_NAME'].str.contains("\|")]

In [ ]:
for x in df:
    print(f"{x} - {np.any(df[x].str.contains(r'\|'))}")

In [ ]:
df['PHILOSOPHY_CULTURE_ETHOS'].str.contains("\|")

In [ ]:
df[df['PHILOSOPHY_CULTURE_ETHOS'].str.contains("\|")==True].to_clipboard()

In [ ]:
df.shape

In [ ]:
df['SCHOOL_NAME'].unique().size

In [ ]:
df = pd.read_csv("data/_processed/TBL_HDB_RESALE_PRICE.csv.gzip", sep="|")

df.apply(lambda x: x.unique(), axis=0)

In [ ]:
from one_map_api import query_onemap_api

In [ ]:
school_addresses = df["ADDRESS"].unique().tolist()[:10]
res = query_onemap_api(school_addresses)

In [ ]:
res[0]

In [ ]:
res[1]

In [ ]:
print(jstr)

In [ ]:
jstr

In [ ]:
pd.DataFrame(data=jstr)

In [ ]:
for jstr in res:
    df = pd.DataFrame(data=jstr)

In [ ]:
df = pd.read_csv("data/_processed/TBL_SCHOOL_INFO.csv.gzip", sep="|", dtype={"POSTAL_CODE": "object"})
df_addr = pd.read_json('data/_raw/onemap-school-addresses/school_building_info_001.json')

df['_KEYWORD_'] = df["ADDRESS"]
df = df[['SCHOOL_NAME', '_KEYWORD_']].merge(df_addr, how='left', on=['_KEYWORD_'])
df['_SCORE_'] = df.apply(lambda row: fuzz.ratio(str(row['SCHOOL_NAME']), str(row['SEARCHVAL'])), axis=1)

# Take the highest score for each school
df = df.sort_values(['SCHOOL_NAME', '_SCORE_'], ascending=[True, False])
df = df.groupby(['SCHOOL_NAME']).first().reset_index().drop(['_KEYWORD_', '_SCORE_'], axis=1)

# Reset school address exceptions which pulled manually
df_exp = pd.read_csv("data/_static/SCHOOL_ADDR_EXCEPTIONS.csv")

df = df.set_index(['SCHOOL_NAME'])
df.update(df_exp.set_index(['SCHOOL_NAME']))
df = df.reset_index()

assert df['LATITUDE'].isnull().sum() == 0, "Missing geo info, pls check"

In [ ]:
df = pd.read_csv("data/_processed/TBL_HDB_ADDR_INFO.csv.gzip", sep="|", dtype={"POSTAL_CODE": "object"})

df.apply(lambda x: x.unique(), axis=0)

In [ ]:
df = pd.read_csv("data/_processed/TBL_HDB_PROP_INFO.csv.gzip", sep="|")

df.apply(lambda x: x.unique(), axis=0)

In [ ]:
df_addr = pd.read_json("data/_raw/onemap-school-addresses/school_building_info_001.json")

In [ ]:
df_addr

In [ ]:
sum(df_addr.groupby(['_KEYWORD_'])["POSTAL"].nunique()>1)

In [ ]:
df_addr = pd.merge(df_addr, df_addr.groupby(["_KEYWORD_"]).size().to_frame("ROW_CNT").reset_index())

In [ ]:
df_addr[df_addr["ROW_CNT"]>1].to_clipboard()

In [ ]:
a = df.merge(df_addr, how='left', left_on=['SCHOOL_NAME'], right_on=['BUILDING'])

In [ ]:
def _rank_buildings(df):

    df["_SCORE"] = 0

    df["_SCORE"] = df["_SCORE"] + np.where(df["BUILDING"].str.contains(r"ACADEMY|STUDENT|PRESCHOOL|SCHOOL|SKOOL|LEARNING|LEARNERS|DEVELOPMENT|CHILDREN|CHILD CARE|KINDERGARTEN"), 1, 0)
    
    return df.sort_values(["_KEYWORD_", "_SCORE"]).groupby(["_KEYWORD_"]).first().reset_index()

In [ ]:
a[a['X'].isnull()]

##### SUPERMARKET INFO

In [ ]:
import pandas as pd


from utils import format_sg_postal

df['POSTAL_CODE'] = format_sg_postal(df['POSTCODE'])

df = df.rename(columns={'BLK_HOUSE': 'BLOCK', 'STR_NAME': 'STREET_NAME'})

df[["LATITUDE", "LONGITUDE"]] = df["LatLng"].str.split(',', expand=True)

df['LATITUDE'] = df['LATITUDE'].astype(float)
df['LONGITUDE'] = df['LONGITUDE'].astype(float)

df[['NAME', 'DESCRIPTION', 'BLOCK', 'STREET_NAME', 'UNIT_NO', 'POSTAL_CODE', 'LATITUDE', 'LONGITUDE']]

In [ ]:
df['POSTAL_CODE'].isnull().sum()

##### SHOPPING MALL

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('../data/_mingxuan/TBL_SHOPPING_MALL_ADDR_INFO.csv')

df = df[df['LATITUDE'].notnull()].reset_index(drop=True)

assert df.shape[0] == df['NAME'].unique().size, "NAME is not unique, pls check"

In [ ]:
def format_sg_postal(x):
    return x.apply(lambda x: x if pd.isnull(x) else f"{str(x):0>6s}")

In [ ]:
df.isnull().sum(axis=0)

In [ ]:
format_sg_postal(df["POSTAL_CODE"])

In [ ]:
df

### HAWKER CENTER

In [3]:
import pandas as pd

In [30]:
from etl.utils import *

In [49]:
df = pd.read_json('data/_raw/onnemap-theme-hawkercentre/hawker_centre_info_001.json')

In [50]:
df = df.rename(columns={'ADDRESS_MYENV': 'ADDRESS', 'ADDRESSPOSTALCODE': "POSTAL_CODE"})

df['POSTAL_CODE'] = format_sg_postal(df['POSTAL_CODE'].astype('Int64'))

df = df[['NAME', 'DESCRIPTION', 'STATUS', 'NO_OF_FOOD_STALLS', 'NO_OF_MARKET_STALLS', "REGION", "POSTAL_CODE", "ADDRESS", 'LATITUDE', 'LONGITUDE']]

for col in ['STATUS', 'REGION']:
    df[col] = df[col].str.upper()

In [63]:
df['STATUS'].unique()

array(['EXISTING', 'UNDER CONSTRUCTION', 'PROPOSED', 'EXISTING (NEW)'],
      dtype=object)

In [64]:
df

,NAME,DESCRIPTION,STATUS,NO_OF_FOOD_STALLS,NO_OF_MARKET_STALLS,REGION,POSTAL_CODE,ADDRESS,LATITUDE,LONGITUDE
0,Buffalo Road Blk 665 (Tekka Centre/Zhu Jiao Ma...,HUP Standard Upgrading,EXISTING,119.0,284.0,CENTRAL,210665,"Blk 665, Buffalo Road, Singapore 210665",1.306190,103.850670
1,Bukit Merah Central Blk 163 (Bukit Merah Centr...,Opted out of HUP,EXISTING,57.0,0.0,WEST,150163,"Blk 163, Bukit Merah Central, Singapore 150163",1.283740,103.817108
2,Bukit Merah Lane 1 Blk 120 (Alexandra Village ...,HUP Standard Upgrading,EXISTING,88.0,0.0,WEST,150120,"Blk 120, Bukit Merah Lane, Singapore 150120",1.286360,103.804550
3,Queen Street Blk 270 (Albert Centre),HUP Standard Upgrading,EXISTING,86.0,148.0,CENTRAL,180270,"Blk 270, Queen Street, Singapore 180270",1.301120,103.854141
4,Toa Payoh Lorong 7 Blk 22 (Kim Keat Palm Marke...,HUP Reconfiguration,EXISTING,61.0,59.0,CENTRAL,310022,"Blk 22, Lorong 7 Toa Payoh, Singapore 310022",1.335290,103.857063
...,...,...,...,...,...,...,...,...,...,...
120,Ang Mo Kio Ave 10 Blk 409 (Teck Ghee Square),HUP Standard Upgrading,EXISTING,40.0,148.0,NORTH,560409,"Blk 409, Ang Mo Kio Ave 10, Singapore 560409",1.362730,103.855377
121,Redhill Lane Blk 85 (Redhill Food Centre),HUP Reconfiguration,EXISTING,96.0,0.0,WEST,150085,"Blk 85, Redhill Lane, Singapore 150085",1.287400,103.818398
122,Sembawang Hills Food Centre (Jalan Leban Food ...,HUP Standard Upgrading,EXISTING,36.0,0.0,NORTH,574419,"590, Upper Thomson Road, Singapore 574419",1.372420,103.829033
123,Golden Mile Food Centre,HUP Standard Upgrading,EXISTING,112.0,111.0,CENTRAL,199583,"505, Beach Road, Singapore 199583",1.302874,103.863876
124,Boon Lay Place Blk 221A/B (Boon Lay Place Mark...,HUP Reconfiguration,EXISTING,72.0,94.0,WEST,641221,"Blk 221A/B, Boon Lay Place, Singapore 641221/6...",1.345280,103.712852

In [62]:
df['UNDER CONSTRUCTION'].isnull().sum(axis=0)

NAME                   0
DESCRIPTION            0
STATUS                 0
NO_OF_FOOD_STALLS      1
NO_OF_MARKET_STALLS    1
REGION                 1
POSTAL_CODE            1
ADDRESS                1
LATITUDE               1
LONGITUDE              1
dtype: int64

In [58]:
df.isnull().sum(axis=0)

NAME                    0
DESCRIPTION             0
STATUS                  0
NO_OF_FOOD_STALLS      11
NO_OF_MARKET_STALLS    11
REGION                 11
POSTAL_CODE             7
ADDRESS                11
LATITUDE               11
LONGITUDE              11
dtype: int64

In [60]:
df[df['LATITUDE'].isnull()]

,NAME,DESCRIPTION,STATUS,NO_OF_FOOD_STALLS,NO_OF_MARKET_STALLS,REGION,POSTAL_CODE,ADDRESS,LATITUDE,LONGITUDE
18,Anchorvale Village Hawker Centre,New Centre,UNDER CONSTRUCTION,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
19,Fernvale Hawker Centre,New Centre,UNDER CONSTRUCTION,NaN,NaN,NaN,797650,NaN,NaN,NaN
20,Punggol Town Hub Hawker Centre,New Centre,UNDER CONSTRUCTION,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
21,Bukit Panjang North Hawker Centre,New Centre,UNDER CONSTRUCTION,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
22,Buangkok Hawker Centre,New Centre,UNDER CONSTRUCTION,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
23,Bukit Batok Hawker Centre,New Centre,PROPOSED,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
25,Bukit Canberra Hawker Centre,New Centre,UNDER CONSTRUCTION,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
26,Market Street Hawker Centre,New Replacement Centre,UNDER CONSTRUCTION,NaN,NaN,NaN,048940,NaN,NaN,NaN
27,Punggol Digital District Hawker Centre,New Centre,UNDER CONSTRUCTION,NaN,NaN,NaN,<NA>,NaN,NaN,NaN
107,Dawson Hawker Centre,New Replacement Centre,UNDER CONSTRUCTION,NaN,NaN,NaN,142038,NaN,NaN,NaN
108,Woodleigh Village Hawker Centre,New Centre,UNDER CONSTRUCTION,NaN,NaN,NaN,363202,NaN,NaN,NaN

In [56]:
df.isnull().sum(axis=0)

NAME                    0
DESCRIPTION             0
STATUS                  0
NO_OF_FOOD_STALLS      11
NO_OF_MARKET_STALLS    11
REGION                 11
POSTAL_CODE             7
ADDRESS                11
LATITUDE               11
LONGITUDE              11
dtype: int64

In [90]:
df = pd.read_csv('data/_raw/cs5228-kaggle-dataset/test.csv')
df = pd.concat([df, pd.read_csv('data/_raw/cs5228-kaggle-dataset/train.csv')], ignore_index=True)

In [91]:
df.columns = df.columns.str.upper()

# UPPERCASE ALL CATS
for x in ["TOWN", "FLAT_TYPE", "STREET_NAME", "FLAT_MODEL", "SUBZONE", "PLANNING_AREA", "REGION"]:
    df[x] = df[x].str.upper()

In [92]:
df[["LATITUDE", "LONGITUDE"]].drop_duplicates()

        LATITUDE   LONGITUDE
0       1.346581  103.744085
1       1.357618  103.961379
2       1.337804  103.741998
3       1.380084  103.849574
4       1.313960  103.769831
...          ...         ...
415873  1.312344  103.869898
416408  1.364450  103.849464
423399  1.316635  103.763935
482447  1.354784  103.890318
507783  1.316237  103.763565

[9145 rows x 2 columns]

In [65]:
df.columns = df.columns.str.upper()

# Set month to month end
df["MONTH"] = pd.to_datetime(df["MONTH"]) + pd.offsets.MonthEnd(0)

# UPPERCASE ALL CATS
for x in ["TOWN", "FLAT_TYPE", "STREET_NAME", "FLAT_MODEL", "SUBZONE", "PLANNING_AREA", "REGION"]:
    df[x] = df[x].str.upper()

df = df[['TOWN', 'BLOCK', "STREET_NAME", "LATITUDE", "LONGITUDE", "SUBZONE", "PLANNING_AREA", "REGION"]].drop_duplicates()

df = df.rename(columns={'STREET_NAME': 'FULL_STREET_NAME'})

In [66]:
df

,TOWN,BLOCK,FULL_STREET_NAME,LATITUDE,LONGITUDE,SUBZONE,PLANNING_AREA,REGION
0,BUKIT BATOK,186,BUKIT BATOK WEST AVENUE 6,1.346581,103.744085,BUKIT BATOK WEST,BUKIT BATOK,WEST REGION
1,TAMPINES,366,TAMPINES STREET 34,1.357618,103.961379,TAMPINES EAST,TAMPINES,EAST REGION
2,JURONG EAST,206,JURONG EAST STREET 21,1.337804,103.741998,TOH GUAN,JURONG EAST,WEST REGION
3,ANG MO KIO,180,ANG MO KIO AVENUE 5,1.380084,103.849574,YIO CHU KANG EAST,ANG MO KIO,NORTH-EAST REGION
4,CLEMENTI,356,CLEMENTI AVENUE 2,1.313960,103.769831,CLEMENTI NORTH,CLEMENTI,WEST REGION
...,...,...,...,...,...,...,...,...
415873,KALLANG/WHAMPOA,8B,UPPER BOON KENG ROAD,1.312344,103.869898,BOON KENG,KALLANG,CENTRAL REGION
416408,ANG MO KIO,340,ANG MO KIO AVENUE 1,1.364450,103.849464,TOWNSVILLE,ANG MO KIO,NORTH-EAST REGION
423399,CLEMENTI,440C,CLEMENTI AVENUE 3,1.316635,103.763935,CLEMENTI CENTRAL,CLEMENTI,WEST REGION
482447,HOUGANG,104,HOUGANG AVENUE 1,1.354784,103.890318,LORONG AH SOO,HOUGANG,NORTH-EAST REGION
507783,CLEMENTI,440B,CLEMENTI AVENUE 3,1.316237,103.763565,CLEMENTI CENTRAL,CLEMENTI,WEST REGION

In [69]:
sql = """
SELECT * FROM api.TBL_HDB_ADDR_INFO
"""

df_addr = pd.read_sql(sql, db)

df_addr.columns = df_addr.columns.str.upper()

In [72]:
df_addr['FULL_STREET_NAME'] = expand_street_name(df_addr['STREET_NAME'])

In [77]:
df = df.merge(df_addr, how='left', on=['TOWN', 'BLOCK', 'FULL_STREET_NAME'])

In [84]:
import hashlib 

(df['TOWN'] + df['BLOCK'] + df['STREET_NAME']).apply(lambda x: hashlib.md5(x.encode()).hexdigest())

0       f8b258be72d57cf90bab31b251ecfc33
1       ce66b5204c0d800f7988c73425c8621e
2       e7483a2d48a55662140494fcf7f23aa1
3       0d77aaa1c744efeced60c5d4e3164209
4       060645d139134092a2a97650080494b4
                      ...
9149    7b766ae58d291130095926c8deb3b243
9150    2b20ba389314d8487012ade658db2def
9151    59d7732f057c098948b0dca57c1e4210
9152    f2247793b3e6fe0b238e0a83eab289b8
9153    766926e85f27042100148b845a0c956e
Length: 9154, dtype: object

In [85]:
df

,TOWN,BLOCK,FULL_STREET_NAME,LATITUDE_x,LONGITUDE_x,SUBZONE,PLANNING_AREA,REGION,STREET_NAME,POSTAL_CODE,ADDRESS,BUILDING,LATITUDE_y,LONGITUDE_y,X,Y,GEOM,HDB_ID
0,BUKIT BATOK,186,BUKIT BATOK WEST AVENUE 6,1.346581,103.744085,BUKIT BATOK WEST,BUKIT BATOK,WEST REGION,BT BATOK WEST AVE 6,650186,186 BUKIT BATOK WEST AVENUE 6 SINGAPORE 650186,NIL,1.346581,103.744090,18069.326,36523.758,0101000020E6100000000000209FEF594000000040988B...,f8b258be
1,TAMPINES,366,TAMPINES STREET 34,1.357618,103.961379,TAMPINES EAST,TAMPINES,EAST REGION,TAMPINES ST 34,520366,366 TAMPINES STREET 34 SINGAPORE 520366,NIL,1.357618,103.961380,42251.656,37744.348,0101000020E61000000000004087FD594000000040CDB8...,ce66b520
2,JURONG EAST,206,JURONG EAST STREET 21,1.337804,103.741998,TOH GUAN,JURONG EAST,WEST REGION,JURONG EAST ST 21,600206,206 JURONG EAST STREET 21 JURONG EAST VIEW SIN...,JURONG EAST VIEW,1.337804,103.742000,17836.965,35553.254,0101000020E6100000000000E07CEF594000000000A567...,e7483a2d
3,ANG MO KIO,180,ANG MO KIO AVENUE 5,1.380084,103.849574,YIO CHU KANG EAST,ANG MO KIO,NORTH-EAST REGION,ANG MO KIO AVE 5,560180,180 ANG MO KIO AVENUE 5 KEBUN BARU LINK 2 SING...,KEBUN BARU LINK 2,1.376677,103.838360,28561.162,39851.473,0101000020E6100000000000C0A7F5594000000080DE06...,0d77aaa1
4,CLEMENTI,356,CLEMENTI AVENUE 2,1.313960,103.769831,CLEMENTI NORTH,CLEMENTI,WEST REGION,CLEMENTI AVE 2,120356,356 CLEMENTI AVENUE 2 SINGAPORE 120356,NIL,1.313960,103.769830,20934.480,32916.594,0101000020E6100000000000E044F15940000000A0FA05...,060645d1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9149,KALLANG/WHAMPOA,8B,UPPER BOON KENG ROAD,1.312344,103.869898,BOON KENG,KALLANG,CENTRAL REGION,UPP BOON KENG RD,382008,8B UPPER BOON KENG ROAD KALLANG TRIVISTA SINGA...,KALLANG TRIVISTA,1.312344,103.869896,32070.975,32737.932,0101000020E610000000000060ACF75940000000E05CFF...,7b766ae5
9150,ANG MO KIO,340,ANG MO KIO AVENUE 1,1.364450,103.849464,TOWNSVILLE,ANG MO KIO,NORTH-EAST REGION,ANG MO KIO AVE 1,560340,340 ANG MO KIO AVENUE 1 SINGAPORE 560340,NIL,1.364451,103.849464,29796.795,38499.527,0101000020E6100000000000A05DF6594000000000CAD4...,2b20ba38
9151,CLEMENTI,440C,CLEMENTI AVENUE 3,1.316635,103.763935,CLEMENTI CENTRAL,CLEMENTI,WEST REGION,CLEMENTI AVE 3,123440,440C CLEMENTI AVENUE 3 CLEMENTI CASCADIA SINGA...,CLEMENTI CASCADIA,1.316635,103.763930,20278.227,33212.457,0101000020E610000000000040E4F0594000000020F010...,59d7732f
9152,HOUGANG,104,HOUGANG AVENUE 1,1.354784,103.890318,LORONG AH SOO,HOUGANG,NORTH-EAST REGION,HOUGANG AVE 1,530104,104 HOUGANG AVENUE 1 SINGAPORE 530104,NIL,1.354784,103.890320,34343.438,37430.766,0101000020E610000000000000FBF859400000006032AD...,f2247793
9153,CLEMENTI,440B,CLEMENTI AVENUE 3,1.316237,103.763565,CLEMENTI CENTRAL,CLEMENTI,WEST REGION,CLEMENTI AVE 3,122440,440B CLEMENTI AVENUE 3 CLEMENTI CASCADIA SINGA...,CLEMENTI CASCADIA,1.316237,103.763565,20237.121,33168.406,0101000020E610000000000040DEF05940000000604E0F...,766926e8

In [78]:
df[df['HDB_ID'].isnull()]

Empty DataFrame
Columns: [TOWN, BLOCK, FULL_STREET_NAME, LATITUDE_x, LONGITUDE_x, SUBZONE, PLANNING_AREA, REGION, STREET_NAME, POSTAL_CODE, ADDRESS, BUILDING, LATITUDE_y, LONGITUDE_y, X, Y, GEOM, HDB_ID]
Index: []